HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
hs_err_pid11220.log
hs_err_pid11680.log
hs_err_pid11816.log
hs_err_pid13228.log
hs_err_pid13532.log
hs_err_pid17516.log
hs_err_pid19044.log
hs_err_pid23104.log
hs_err_pid23420.log
hs_err_pid23804.log
hs_err_pid24236.log
hs_err_pid29972.log
hs_err_pid30308.log
hs_err_pid4440.log
hs_err_pid4564.log
hs_err_pid5896.log
hs_err_pid7692.log
